*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.281)50%,rgba(54, 54, 54, 0.8)50%)!important;
}

@media screen and (max-width: 768px) {
    .inside_main{
        padding: 5px 8%;
    }
    .left_inside{
        width: 100%;
        height: 350px!important;
        border:5px solid rgb(18, 20, 138);
        clip-path: polygon(55% 35%, 100% 0, 100% 100%, 0 100%, 0 0); 
        margin-bottom:20px; 
        float: left;
        padding:100px 25px 0px 20px;
        box-sizing: border-box;
        background-image: linear-gradient(to top left,#b1d341 55%, rgb(250, 250, 84)5%);
    }
    .right-inside{
        font-family: Algerian;
        width: 100%;
        height: 400px;
        float: right;
        border:2px solid rgb(18, 20, 138);
    }
    .my_control{
        display: inline!important;
        width: 70%!important;
    }
}
@media (min-width: 768px) {
    .inside_main{
        padding: 5px 8%;
    }
    .left_inside{
        width: 100%;
        height: 350px!important;
        border:5px solid rgb(18, 20, 138);
        clip-path: polygon(55% 35%, 100% 0, 100% 100%, 0 100%, 0 0); 
        margin-bottom:20px; 
        float: left;
        padding:100px 25px 0px 20px;
        box-sizing: border-box;
        background-image: linear-gradient(to top left,#b1d341 55%, rgb(250, 250, 84)5%);
    }
    .right-inside{
        font-family: Algerian;
        width: 100%;
        height: 400px;
        float: right;
        border:2px solid rgb(18, 20, 138);
    }
    .my_control{
        display: inline!important;
        width: 70%!important;
    }
}
@media (min-width: 992px) {
    .inside_main{
        padding: 0px 4%;
        position: relative;
        top: 15%;
    }
    .left_inside{
        width: 45%;
        height: 450px!important;
        border:5px solid rgb(18, 20, 138);
        clip-path: polygon(55% 35%, 100% 0, 100% 100%, 0 100%, 0 0); 
        /* margin:auto;  */
        float: left;
        padding:100px 25px 0px 20px;
        box-sizing: border-box;
        background-image: linear-gradient(to top left,#b1d341 55%, rgb(250, 250, 84)5%);
    }
    .right-inside{
        font-family: Algerian;
        width: 45%;
        height: 450px;
        float: right;
        border:2px solid rgb(18, 20, 138);
    }
    .my_control{
        display: inline!important;
        width: 70%!important;
    }

}